.App {
  text-align: center;
}

.App-header {
  background-color: #314A56;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.option-title {
  margin-top: 2.5em;
}

.directions {
  color: grey;
  font-style: italic;
}

.message {
  margin: 1.5em;
}
